# Core dependencies
numpy
pandas
tqdm
matplotlib
scipy
pillow
requests

# Deep learning
torch==2.5.1+cu121
torchvision==0.18.1+cu121
--find-links https://download.pytorch.org/whl/cu121

# Computer vision
opencv-python

# Ultralytics YOLO
ultralytics

# YouTube download and processing
yt_dlp
ffmpeg-python

# Firebase integration
firebase-admin
